<ion-header>
  <ion-toolbar color="dark">
    <ion-title>GAMINGPAGE</ion-title>


    <ion-buttons slot="end">
      <ion-button routerLink="/inicio">Inicio</ion-button>
      <ion-button routerLink="/avances">Avances</ion-button>
      <ion-button routerLink="/sobremi">Sobre mí</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="design-section">

    <ion-card class="design-card">
      <img src="assets/img/pruebas-balance.jpg" alt="Balance del juego">
      <ion-card-header>
        <ion-card-title>⚖️ Balance del Juego</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ajustes en costos, recompensas y sanciones
        para garantizar partidas justas.
      </ion-card-content>
    </ion-card>

    <ion-card class="design-card">
      <img src="assets/img/pruebas-feedback.jpg" alt="Feedback jugadores">
      <ion-card-header>
        <ion-card-title>🗣️ Feedback</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Opiniones de jugadores utilizadas para mejorar
        reglas, claridad y ritmo del juego.
      </ion-card-content>
    </ion-card>

  </section>

</ion-content>
