<ion-header class="ion-no-border">
  <ion-toolbar class="gaming-toolbar">
    <ion-title>GAMINGPAGE</ion-title>
    <div class="nav-center">
      <ion-button fill="clear" routerLink="/inicio">Inicio</ion-button>
      <ion-button fill="clear" routerLink="/avances">Avances</ion-button>
      <ion-button fill="clear" routerLink="/sobremi">Sobre mí</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-wrapper">
    
    <section class="design-section">

      <ion-card class="design-card">
        <div class="img-wrapper">
          <img src="assets/img/pruebas-balance.jpg" alt="Balance del juego">
        </div>
        <ion-card-header>
          <ion-card-title>⚖️ Balance del Juego</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ajustes técnicos en costos, recompensas y sanciones 
          para garantizar una experiencia competitiva y partidas justas.
        </ion-card-content>
      </ion-card>

      <ion-card class="design-card">
        <div class="img-wrapper">
          <img src="assets/img/pruebas-feedback.jpg" alt="Feedback jugadores">
        </div>
        <ion-card-header>
          <ion-card-title>🗣️ Feedback Directo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Análisis de la experiencia del usuario para optimizar 
          las reglas, la claridad visual y el ritmo dinámico del juego.
        </ion-card-content>
      </ion-card>

    </section>

  </div>
</ion-content>