<ion-content>

  <section class="hero neon-bg">
    <div class="hero-content fade-in">
      <h1 class="glow-text">🃏 Cartas y Mecánicas</h1>
      <p class="subtitle">
        Estrategia, roles ocultos y decisiones clave
      </p>
    </div>
  </section>

  <section class="content">
    <ion-card class="info-card">
      <div class="card-img">
        <img src="assets/img/cartas.jpg" alt="Cartas del juego">
      </div>

      <ion-card-header>
        <ion-card-title>Cartas del juego</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Las cartas representan eventos políticos, trampas,
        influencias y roles que cambian el rumbo del juego.
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
