<ion-header class="ion-no-border">
  <ion-toolbar class="gaming-toolbar">
    <ion-title slot="start">GAMINGPAGE</ion-title>
    <div class="nav-center">
      <ion-button fill="clear" routerLink="/inicio">Inicio</ion-button>
      <ion-button fill="clear" routerLink="/avances">Avances</ion-button>
      <ion-button fill="clear" routerLink="/sobremi">Sobre mí</ion-button>
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="abrirPDF()" fill="solid" color="warning">
        IMPRIMIR PDF
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="gaming-background">
  <div class="plexus-container">
    <div class="grid-overlay"></div>
  </div>

  <div class="main-container">
    <section class="hero-mini">
      <h1 class="hero-title">LOGROS DEL <span class="gold-text">DESARROLLO</span></h1>
      <p class="hero-subtitle">Visualiza el progreso técnico del Primer Ciclo.</p>
    </section>

    <section class="avances-grid">
      
      <div class="glass-card">
        <div class="img-wrapper">
          <img src="assets/img/Tablero.jpg" alt="Diseño">
          <div class="status-tag">COMPLETADO</div>
        </div>
        <div class="card-body">
          <span class="category-label">FASE 01</span>
          <h3>DISEÑO</h3>
          <p>Evolución de la identidad visual neón y maquetación de componentes Standalone en Angular.</p>
          <ion-button fill="clear" routerLink="/estilo">VER DETALLES</ion-button>
        </div>
      </div>

      <div class="glass-card active-neon">
        <div class="img-wrapper">
          <img src="assets/img/reglas.png" alt="Reglas">
          <div class="status-tag">COMPLETADO</div>
        </div>
        <div class="card-body">
          <span class="category-label">FASE 02</span>
          <h3>INSTRUCCIONES</h3>
          <p>Mecánicas de votación, gestión de capital político y balanceo de cartas de facción.</p>
          <ion-button fill="clear" routerLink="/instrucciones">LEER INSTRUCCIONES</ion-button>
        </div>
      </div>

      <div class="glass-card">
        <div class="img-wrapper">
          <img src="assets/img/pruebas.png" alt="Pruebas">
          <div class="status-tag">COMPLETADO</div>
        </div>
        <div class="card-body">
          <span class="category-label">FASE 03</span>
          <h3>PRUEBAS</h3>
          <p>Registro de problemáticas detectadas en el despliegue y soluciones de optimización de código.</p>
          <ion-button fill="clear" routerLink="/pruebas">VER LOGRO  S</ion-button>
        </div>
      </div>

    </section>
  </div>
</ion-content>