<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre mí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- PRESENTACIÓN -->
  <section class="about">
    <h1>Sobre el proyecto</h1>
    <p>
      GAMINGPAGE es una página web creada para presentar el desarrollo
      del juego de mesa <strong>FL Divas</strong>.
    </p>
  </section>

  <!-- INFO -->
  <section class="info">

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Objetivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El objetivo del juego de mesa es entender y aprender de forma basica la 
        sociopolitica y democracia, es para jovenes q trabajen el tema, es decir, 
        primero de balchiller, jovenes que comprendera las reglas y entenderan la trama del juego.

        Tengo un objetivo de q la nueva generacion adulta pueda entender lo q hace por ejemplo al 
        votar en elecciones, comprender por quien vota y apoya sin tener q caer en ignorancia de propagandas 
        o personas que tampoco lo entienden. simplifico lo que se habla sin conocimiento previo, es un 
        tema delicado q se debe tratar co seriedad.
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Desarrollo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El proyecto fue desarrollado usando Angular e Ionic
        con componentes standalone. Un proyecto trabajado con ejemplos politicos reales, 
        hablando sobre lo que vivio el Ecuador, y tambien tomando otros tipos de juegos y paginas que me ayuden a enseñar lo necesario.

        H
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Autor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Soy Samantha Quinche, mi Proyecto académico enfocado en el diseño y presentación
        de un juego de mesa. Basado en la sociopolitica y el aprendizaje de esta, no quiero 
        que solo aprendan reglas, quiero q entiendan esto y puedan actuar las personas con su criterio para un pais mejor.
      </ion-card-content>
    </ion-card>

  </section>

</ion-content>
