<ion-header class="ion-no-border">
  <ion-toolbar class="gaming-toolbar">
    <ion-title slot="start">GAMINGPAGE</ion-title>
    <div class="nav-center">
      <ion-button fill="clear" routerLink="/inicio">Inicio</ion-button>
      <ion-button fill="clear" routerLink="/avances">Avances</ion-button>
      <ion-button fill="clear" routerLink="/sobremi">Sobre mí</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="deck-wrapper">
    <h1 class="main-title">Tablero Político</h1>
    <p class="deck-subtitle">Pasa el mouse para revelar los secretos del poder.</p>

    <div class="cards-grid">
      
      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/Organizacionsocial.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Organización Social</h3>
              <p>Objetivo: comprender la participación ciudadana.</p>
              <span class="card-type">Tipo: Social</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/ministerios.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Ministerios</h3>
              <p>Objetivo: comprender la función del Estado.</p>
              <span class="card-type">Tipo: Institución</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/medios.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Medios</h3>
              <p>Objetivo: reconocer la influencia de la información.</p>
              <span class="card-type">Tipo: Comunicación</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/corteconstitucional.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Corte Constitucional</h3>
              <p>Objetivo: comprender el respeto a la Constitución.</p>
              <span class="card-type">Tipo: Judicial</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/consejoelectoral.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Consejo Nacional Electoral (CNE)</h3>
              <p>Objetivo: entender cómo se realizan las elecciones.</p>
              <span class="card-type">Tipo: Electoral</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/asambleanacional.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Asamblea Nacional</h3>
              <p>Objetivo: conocer cómo se crean las leyes.</p>
              <span class="card-type">Tipo: Legislativa</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Preguntas</h3>
              <p>Objetivo: reforzar conocimientos democráticos.</p>
              <span class="card-type">Tipo: Evaluación</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Trucos</h3>
              <p>Objetivo: simular ventajas o dificultades políticas.</p>
              <span class="card-type">Tipo: Evento</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/ciudadano.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Ciudadano</h3>
              <p>Objetivo: comprender derechos y deberes.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Ministro</h3>
              <p>Objetivo: entender la gestión pública.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Periodista</h3>
              <p>Objetivo: valorar la libertad de expresión.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Juez</h3>
              <p>Objetivo: reconocer la importancia de la justicia.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Líder Social</h3>
              <p>Objetivo: fomentar la participación colectiva.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Presidente</h3>
              <p>Objetivo: comprender el liderazgo democrático.</p>
              <span class="card-type">Tipo: Rol</span>
            </div>
          </div>
        </div>
      </ion-card>


      <ion-card class="game-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/tu-carta.jpg" alt="Carta RegNum">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>Nombre de la Carta</h3>
              <p>Descripción del efecto político y costo de CP.</p>
              <span class="card-type">Tipo: Institución</span>
            </div>
          </div>
        </div>
      </ion-card>

      <ion-card class="game-card board-card">
        <div class="card-content-wrapper">
          <div class="image-box">
            <img src="assets/img/Tablero.jpg" alt="Tablero Final">
          </div>
          <div class="info-reveal">
            <div class="text-container">
              <h3>TABLERO ESTRATÉGICO</h3>
              <p>El mapa completo de la República. Controla el destino de la nación.</p>
              <span class="card-type">OBJETO ÚNICO</span>
            </div>
          </div>
        </div>
      </ion-card>

    </div>
  </div>
</ion-content>