<ion-content>

  <section class="hero neon-bg">
    <div class="hero-content fade-in">
      <h1 class="glow-text">⚙️ Pruebas y Ajustes</h1>
      <p class="subtitle">
        Balanceo y mejoras finales del juego
      </p>
    </div>
  </section>

  <section class="content">
    <ion-card class="info-card">
      <div class="card-img">
        <img src="assets/img/pruebas.jpg" alt="Pruebas del juego">
      </div>

      <ion-card-header>
        <ion-card-title>Evaluación del juego</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Se realizaron pruebas para mejorar la experiencia,
        corregir errores y equilibrar las mecánicas.
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
