// Paleta del gato
$color-arena: #dcb975;
$color-ojo: #4c6842;
$fondo-nav: #000000;


ion-header {
  // Quitamos el borde por defecto de Ionic y ponemos nuestro brillo arena
  &.ion-no-border {
    border-bottom: 2px solid rgba($color-arena, 0.4);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
  }
}


ion-toolbar {
  --background: #{$fondo-nav};
  --color: #{$color-arena}; // Cambiado a Arena para que todo combine
  display: flex;
  align-items: center;
  position: relative; // Necesario para que el centrado funcione bien


  // Estilo del título GAMINGPAGE (Ahora mucho más visible)
  ion-title {
    font-weight: 800;
    color: #3f2716; // Lo ponemos en blanco puro con brillo arena para que resalte
    text-shadow: 0 0 10px $color-arena, 0 0 20px rgba($color-arena, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}


// CENTRADO DE LOS BOTONES
ion-buttons[slot="end"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;


  ion-button {
    // Cambiamos el color de las letras de los botones a Arena
    --color: #{$color-ojo} !important;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3s ease;


    // Efecto cuando pasas el mouse
    &:hover {
      filter: brightness(1.3) drop-shadow(0 0 8px $color-arena);
      transform: translateY(-2px);
    }


    // Estilo para el link donde estás parado
    &.active-link {
      border-bottom: 2px solid #ffffff;
      --color: #ffffff !important;
    }
  }
}



ion-content {
  --background: #050b1e;
  color: #ffffff;
}

.design-section {
  padding: 20px;
  display: grid;
  gap: 22px;
}

.design-card {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 22px rgba(236, 72, 153, 0.25);
}

.design-card img {
  width: 100%;
  display: block;
}

ion-card-title {
  color: #ec4899;
  font-weight: 700;
}
